In [33]:
import numpy as np
import pandas as pd
import math

In [3]:
row_1 = [1, np.nan, 6, 9, np.nan, np.nan, 3, np.nan, np.nan]
row_2 = [np.nan,np.nan,8,np.nan,np.nan,6,np.nan,5,4]
row_3 = [np.nan,np.nan,np.nan,3,np.nan,8,np.nan,np.nan,np.nan]
row_4 = [6,3,5,8,np.nan,np.nan,np.nan,np.nan,np.nan]
row_5 = [np.nan,np.nan,np.nan,4,3,np.nan,np.nan,6,7]
row_6 = [np.nan,np.nan,np.nan,np.nan,9,2,np.nan,np.nan,np.nan]
row_7 = [np.nan,4,2,np.nan,6,np.nan,8,3,1]
row_8 = [8, np.nan,np.nan,7,4,np.nan,2,np.nan,5]
row_9 = [np.nan,5,3,2,np.nan,np.nan,4,np.nan,np.nan]

In [4]:
row_total = [row_1,row_2,row_3,row_4,row_5,row_6,row_7,row_8,row_9]

In [17]:
row_total[0]

[1, nan, 6, 9, nan, nan, 3, nan, nan]

In [6]:
sudoku = pd.DataFrame(row_total)

In [46]:
def CheckUp_row(null):
    checklist = []
    checklist.append(row)
    return checklist

In [ ]:
def CheckUp_column(null):

In [7]:
sudoku

     0    1    2    3    4    5    6    7    8
0  1.0  NaN  6.0  9.0  NaN  NaN  3.0  NaN  NaN
1  NaN  NaN  8.0  NaN  NaN  6.0  NaN  5.0  4.0
2  NaN  NaN  NaN  3.0  NaN  8.0  NaN  NaN  NaN
3  6.0  3.0  5.0  8.0  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  4.0  3.0  NaN  NaN  6.0  7.0
5  NaN  NaN  NaN  NaN  9.0  2.0  NaN  NaN  NaN
6  NaN  4.0  2.0  NaN  6.0  NaN  8.0  3.0  1.0
7  8.0  NaN  NaN  7.0  4.0  NaN  2.0  NaN  5.0
8  NaN  5.0  3.0  2.0  NaN  NaN  4.0  NaN  NaN

In [52]:
row_index = -1
column_index = -1
for row in row_total:
    row_index += 1
    for value in row:
        column_index += 1
        if math.isnan(value):
            CheckUp(value)
        else:
            print(row_index)
        if column_index == 8:
            row_index = -1
            column_index = -1

0
[[1, nan, 6, 9, nan, nan, 3, nan, nan]]
0
0
[[1, nan, 6, 9, nan, nan, 3, nan, nan]]
[[1, nan, 6, 9, nan, nan, 3, nan, nan]]
0
[[1, nan, 6, 9, nan, nan, 3, nan, nan]]
[[1, nan, 6, 9, nan, nan, 3, nan, nan]]
[[nan, nan, 8, nan, nan, 6, nan, 5, 4]]
[[nan, nan, 8, nan, nan, 6, nan, 5, 4]]
0
[[nan, nan, 8, nan, nan, 6, nan, 5, 4]]
[[nan, nan, 8, nan, nan, 6, nan, 5, 4]]
0
[[nan, nan, 8, nan, nan, 6, nan, 5, 4]]
0
0
[[nan, nan, nan, 3, nan, 8, nan, nan, nan]]
[[nan, nan, nan, 3, nan, 8, nan, nan, nan]]
[[nan, nan, nan, 3, nan, 8, nan, nan, nan]]
0
[[nan, nan, nan, 3, nan, 8, nan, nan, nan]]
0
[[nan, nan, nan, 3, nan, 8, nan, nan, nan]]
[[nan, nan, nan, 3, nan, 8, nan, nan, nan]]
[[nan, nan, nan, 3, nan, 8, nan, nan, nan]]
0
0
0
0
[[6, 3, 5, 8, nan, nan, nan, nan, nan]]
[[6, 3, 5, 8, nan, nan, nan, nan, nan]]
[[6, 3, 5, 8, nan, nan, nan, nan, nan]]
[[6, 3, 5, 8, nan, nan, nan, nan, nan]]
[[6, 3, 5, 8, nan, nan, nan, nan, nan]]
[[nan, nan, nan, 4, 3, nan, nan, 6, 7]]
[[nan, nan, nan, 4, 3, nan, nan, 6, 7]]
[[nan, nan, nan, 4, 3, nan, nan, 6, 7]]
0
0
[[nan, nan, nan, 4, 3, nan, nan, 6, 7]]
[[nan, nan, nan, 4, 3, nan, nan, 6, 7]]
0
0
[[nan, nan, nan, nan, 9, 2, nan, nan, nan]]
[[nan, nan, nan, nan, 9, 2, nan, nan, nan]]
[[nan, nan, nan, nan, 9, 2, nan, nan, nan]]
[[nan, nan, nan, nan, 9, 2, nan, nan, nan]]
0
0
[[nan, nan, nan, nan, 9, 2, nan, nan, nan]]
[[nan, nan, nan, nan, 9, 2, nan, nan, nan]]
[[nan, nan, nan, nan, 9, 2, nan, nan, nan]]
[[nan, 4, 2, nan, 6, nan, 8, 3, 1]]
0
0
[[nan, 4, 2, nan, 6, nan, 8, 3, 1]]
0
[[nan, 4, 2, nan, 6, nan, 8, 3, 1]]
0
0
0
0
[[8, nan, nan, 7, 4, nan, 2, nan, 5]]
[[8, nan, nan, 7, 4, nan, 2, nan, 5]]
0
0
[[8, nan, nan, 7, 4, nan, 2, nan, 5]]
0
[[8, nan, nan, 7, 4, nan, 2, nan, 5]]
0
[[nan, 5, 3, 2, nan, nan, 4, nan, nan]]
0
0
0
[[nan, 5, 3, 2, nan, nan, 4, nan, nan]]
[[nan, 5, 3, 2, nan, nan, 4, nan, nan]]
0
[[nan, 5, 3, 2, nan, nan, 4, nan, nan]]
[[nan, 5, 3, 2, nan, nan, 4, nan, nan]]

In [40]:
checklist

NameError: name 'checklist' is not defined